*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.c-low-cut{
  height: 20%;
  background-color: #59C6FF;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

/* LOGIN COMPONENT CSS START*/

.c-login-overlay{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgb(0, 50, 107);;
}

.c-login-container{
  width: 400px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  top: 25%;
  background-color: white;
  border: rgb(233, 233, 233) 1px solid;
  border-radius: 14px;
  padding: 20px 10px;
  /* border: 1px solid red; */
  top: 240px;
}

.c-login-container h3, .c-signup-container p{
  font-weight: 400;
  color: grey;
}


.c-inputs-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

.c-login-inputs{
  padding: 15px;
  margin: 10px;
  width: 100%;
}

.c-signup-button{
  color: #59C6FF;
  margin: 7px;
  text-decoration: none;
  padding: 3px;
}

.c-signup-button:hover{
  border-bottom: 2px solid #59C6FF;
  padding-bottom: 1px;
}

.c-create-account-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid red; */
  width: 100%;
}

.c-create-account-container p{
  color: grey;
}

.c-login-button{
  background: #59C6FF!important;
  border: none;
  cursor: pointer;
  /* text-decoration: none; */
  color: white;
  display: flex;
  justify-content: center;
  width: 263px;
  height: 48px;
  padding: 18.500px 14px;
  margin: 12px!important;
  box-shadow: 1px 1px 2px 1px #e0e0e0!important;
}

/* LOGIN COMPONENT CSS END*/

/* SIGNUP COMPONENT CSS START */

.c-signup-container{
  width: 400px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  top: 75px;
}

/* SIGNUP COMPONENT CSS END */

/* USER MANAGEMENT CSS START */

.HeaderContainer{
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
  /* border-bottom: rgb(219, 219, 219) solid 0.5px; */
  box-shadow: -8px -2px 4px 1px #888888
}

.user-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.TableContainer{
  width: 90%;
  /* max-width: 1200px; */
  margin:  0 auto;
  margin-top: 45px;
  padding-left: 30px;
  /* put this to adaptive styling */
  /* margin-left: 50px; */
}

.table-data-container{
  border-radius: 90%;
}

.active-icon{
  background: rgb(140, 255, 87);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 15px;
}

.inactive-icon{
  background: rgb(255, 0, 0);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 15px;
}

/* USER MANAGEMENT CSS END */

/* DASHBOARD CSS START */

.dashboard-container{
  position: fixed;
  width: 50px;
  height: 100vh;
  background: rgb(7, 80, 163);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 100;
  top: 0;
}

.dashboard-container .account-icon{
  margin: 20px;
  color: white;
}

.dashboard-cab-container{
  width: 350px;
  position: absolute;
  background: rgb(255, 255, 255);
  height: 100vh;
  z-index: 100;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 6px;
  top: 0;
}

.profile-picture-container{
  background: rgb(7, 80, 163);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 6px solid rgb(255, 255, 255);
}

.upper-block-container{
  width: 100%;
}

.add-profile-icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  background: white;
}

.name-desc-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.name-desc-container h3{
  /* padding: 10px; */
}

.name-desc-full{
  font-weight: 200;
  margin-top: 20px;
}

.email-desc-full{
  font-weight: 200;
  color: rgb(0, 131, 202);
  text-decoration: underline;
  margin-top: 10px;
}

.logout-btn{
  font-weight: 100;
  color: white;
  width: 97%;
  background: rgb(7, 80, 163);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  height: 60px;
  cursor: pointer;
}

.logout-btn:hover{
  background: rgb(5, 67, 138);
}

.black-overlay{
  width: 100%;
  height: 100vh;
  background: black;
  opacity: 0.7;
  z-index: 99;
  position: absolute;
  top: 0;
}

/* DASHBOARD CSS END */

.overlay-white-ish{
  width: 100%;
  height: 100vh;
  background: rgb(245, 245, 245);
  opacity: 0.7;
  z-index: -1;
  position: fixed;
  top: 0;
}

