.mainContainer{
  margin-top:10% ;
  margin-left:35%;
  width: 30%;
  height: 40VH;
  padding-left:1%;
  padding-top: 3%;
  border-style: outset;
  align-content: center;
  background-color: whitesmoke;
  border-radius:10px 
}
.left{
  float: right;
;
}
#signUp{
  margin-left: 200px;
  text-align: center;
  border-top: none;
}